@import "../colors";

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;

  &__title {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    letter-spacing: 0.2rem;
    color: $dark-grayish-blue;
  }
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .testimonial {
    padding: 5rem 1rem;

    &__title {
      font-size: 1rem;
    }

    &__items {
      flex-direction: column;
      gap: 0rem;
    }
  }
}
